<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template/layout/base :: common_header(~{::title},~{::link})">
    <title>메인 타이틀</title>       <!--이 타이틀이 파라미터로 넘어갈 title-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">             <!--여기 두 link가 파라미터로 넘어갈 link-->
    <link rel="stylesheet" th:href="@{/themes/smoothness/jquery-ui.css}">   <!--여기 두 link가 파라미터로 넘어갈 link-->
</head>
<body>
메인 컨텐츠
</body>
</html>