<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!--다른데서 가져다 쓸 이름을 copy로 줬다-->
<footer th:fragment="copy">
    푸터 자리 입니다.
</footer>
<footer th:fragment="copyParam (param1, param2)">
    <p>파라미터 자리 입니다.</p>
    <p th:text="${param1}"></p>
    <p th:text="${param2}"></p>
</footer>
</body>
</html>